
.sidebar {
  flex: 0 0 215px;
  padding: 30px 0;
  background-color: #fff;
  flex-grow: 1;
  position: relative;
  top: 10px;
  border-radius: 24px;
  @media (max-width: 1400px) {
    flex: 0 0 190px
  }
  @media (max-width: 992px) {
    border-radius: 0;
    padding: 0;
    flex: 0;
    overflow: hidden;
    background-color: transparent;
    margin-bottom: 21px;
  }

  &__main {
    position: sticky;
    top: 30px;
    @media (max-width: 992px) {
      display: flex;
      overflow: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 30px;
      }

      &::-webkit-scrollbar-thumb {
        width: 1em;
        height: 0;
        border: 12px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
        background-clip: padding-box;
        -webkit-border-radius: 1em;
        background-color: #0066EA;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
      }
    }
  }

  .block {
    text-align: center;
  }
  &__navigation {
    @media (max-width: 992px) {
      display: flex;
      nav {
        display: flex;
        padding: 0;
      }
    }
  }

  nav {
    a {
      display: flex;
      align-items: center;
      padding: 7px 10px;
      cursor: pointer;
      transition: all 0.25s ease-out;
      margin-bottom: 7px;
      border-radius: 12px;
      height: 32px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #919191;

      @media (max-width: 992px) {
        margin-bottom: 0;
        font-size: 14px;
      }

      svg {
        width: 14px;
        height: 14px;
        margin-right: 10px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.active {
        background: linear-gradient(265.76deg, #0066EA 14.94%, #1D69CB 92.19%);;
        color: white;
      }
    }
  }

  .logo {
    margin-bottom: 51px;
    @media (max-width: 992px) {
      display: none;
      margin-bottom: 0;
    }

    &__text {
      font-size: 14px;
      font-weight: 500;
      color: #150C2F;
    }
    &__title {
      font-size: 12px;
      color: rgba(21, 12, 47, 0.71);
      margin-top: 10px;
    }

    .facebook__account {
      img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }

      .blue-btn {
        width: 100px;
        padding: 10px 0;
        margin: 10px auto;
      }
    }
  }

  &-cont {
    padding: 20px 30px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.05);
    &:last-child {
      border-bottom: none;
    }

    @media (max-width: 992px) {
      border-bottom: none;
    }
  }
}