
.chat {
  width:100%;
  display: flex;
  &-interlocutors {
    flex: 0 0 30%;
    background-color: #fff;
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.04);
    padding: 20px 0;
    margin-right: 40px;
    border-radius: 10px;

    &-title {
      padding: 0 16px 0 16px;
      margin-bottom: 20px;
      border-bottom: 1px solid #d9d9d9;
    }

    &-search {
      position: relative;
      margin: 20px 0;
      input[type="text"] {
        text-align: left;
        flex: 0 0 100%;
        max-width: 100%;
        overflow: hidden;
        padding: 10px 0 10px 40px;
      }
      button {
        max-width: 10px;
        position: absolute;
        left: 10px;
        top: 50%;
        color: #0066EA;
        transform: translateY(-50%);
      }
    }
  }

  &-selected-dialog {
    flex: 0 0 70%;
    background-color: #fff;
    box-shadow: 0 12px 23px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    position: relative;
  }
  }