@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&display=swap');

.landing {
  div {
    font-family: 'Open Sans', sans-serif;
  }

  .text-white {
    color: #fff;
  }

  .text-white-op-15 {
    color: rgba(255, 255, 255, 0.15);
  }

  &-grid-img {
    position: absolute;
  }

  &-wrapper {
    display: block;
    max-width: 1320px;
    padding: 0 30px;

    @media screen and (max-width: 1500px) {
      max-width: 1200px;
    }

    @media screen and (max-width: 1200px) {
      max-width: 990px;
      padding: 0 15px;
    }

    @media screen and (max-width: 992px) {
      max-width: 750px;
    }

    @media screen and (max-width: 768px) {
      max-width: 570px;
    }

    @media screen and (max-width: 576px) {
      max-width: 100%;
    }
  }

  &-slider-btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: #242424;
    background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%), #D9D9D9;
    border: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 4px 24px rgba(0, 0, 0, 0.05);
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all 0.25s ease-in-out;

    svg {
      width: 24px;
      height: 24px;
    }

    &:before {
      display: none;
    }

    &:hover {
      background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%), #D9D9D9;
      box-shadow: 0 0 21px rgb(30 80 254);
      color: #fff;
    }

    &.slick-prev {
      left: -60px;
    }

    &.slick-next {
      right: -60px;
    }
  }

  button {
    font-family: Gilroy, sans-serif;
    font-weight: 300;

    @media screen and (max-width: 992px) {
      width: 100% !important;
      height: 50px !important;

      img {
        width: 60px;
        left: -20px;
      }
    }
  }

  h1 {
    font-family: 'Gunterz', sans-serif;
    font-weight: 800;
    font-size: 48px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.9;
    text-transform: uppercase;

    strong {
      color: #1E50FE;
      font-weight: 900;
      text-shadow: 0 0 21px rgb(30 80 254);
    }

    &.small_h1 {
      font-size: 30px;
    }

    @media screen and (max-width: 992px) {
      font-size: 30px !important;
      text-align: center !important;
    }
    @media screen and (max-width: 540px) {
      font-size: 21px !important;
    }
  }

  p, span {
    @media screen and (max-width: 992px) {
      font-size: 14px;
    }
    @media screen and (max-width: 540px) {
      font-size: 12px;
    }
  }

  &-btn {
    background: #1E50FE;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
    border-radius: 64px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: box-shadow 0.25s ease-in-out;

    &:hover {
      box-shadow: 0 0 21px rgb(30 80 254);
    }

    img {
      position: absolute;
      left: -40px;
    }
  }

  &-header {
    max-height: 110px;
    width: 100%;
    padding: 33px 0;
    border-bottom: 2px solid rgba(255, 255, 255, 0.05);

    img {
      max-height: 22px;
    }

    li {
      padding: 0 24px;
      white-space: nowrap;

      @media screen and (max-width: 1400px) {
        padding: 0 12px
      }
    }

    &__search {
      position: relative;
      max-width: 360px;
      width: 100%;

      input {
        width: 100%;
        height: 45px;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        border-radius: 64px;
      }

      &_btn {
        position: absolute;
        top: 50%;
        right: 10px;
        max-width: 24px;
        max-height: 24px;
        transform: translateY(-61%);
      }

      @media screen and (max-width: 1400px) {
        max-width: 200px;
      }
    }

    button {
      @media screen and (max-width: 992px) {
        margin-left: 10px;
        max-width: 200px !important;
      }
    }

    @media screen and (max-width: 992px) {
      ul {
        display: none;
      }

      &__search {
        display: none;
      }
    }

  }

  &-welcome {
    padding: 76px 0 109px 0;
    position: relative;

    @media screen and (max-width: 992px) {
      padding: 30px 0 40px 0;
      & > img {
        display: none;
      }
    }

    h2 {
      font-family: 'Gunterz', sans-serif;
      color: #1E50FE;
      font-weight: 800;
      font-size: 24px;
      line-height: 152.5%;
      text-shadow: 0 0 21px rgb(30 80 254);
      text-transform: uppercase;

      @media screen and (max-width: 992px) {
        text-align: center;
      }

      @media screen and (max-width: 540px) {
        margin-top: 10px;
        font-size: 16px;
      }
    }

    .landing-gradient {
      @media screen and (max-width: 1200px) {
        right: -50% !important;
      }
      @media screen and (max-width: 992px) {
        right: -60% !important;
      }
      @media screen and (max-width: 768px) {
        right: -100% !important;
      }

      @media screen and (max-width: 540px) {
        right: -120% !important;
      }
      @media screen and (max-width: 450px) {
        right: -200% !important;
      }
    }

    &__activate {
      margin-top: 76px;
      max-width: 415px;
      margin-left: 55px;
      text-align: left;
      position: relative;

      p {
        margin-bottom: 22px;
      }

      @media screen and (max-width: 992px) {
        text-align: center;
        margin: 30px 0;
        max-width: 100%;
      }

    }

    &__hero {
      position: absolute;
      right: 0;
      z-index: 100000;
    }

    &__content {
      max-width: 700px;
      @media screen and (max-width: 992px) {
        max-width: 100%;
      }

    }
  }

  .why-ipostX {
    position: relative;
    padding: 85px 0 126px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0 40px 0
    }

    & > h1 {
      margin-bottom: 45px;

      strong {
        color: #1E50FE;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 2fr;
      gap: 15px;

      strong {
        @media screen and (max-width: 992px) {
          font-size: 16px !important;
        }
        @media screen and (max-width: 540px) {
          font-size: 14px !important;
        }
      }

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    &__circle {
      max-width: 70px;
      max-height: 70px;
      border-radius: 50%;
      border: 1px solid transparent;
      border-image-slice: 1;
      background: linear-gradient(#100F17 0 0) padding-box,
      linear-gradient(163.02deg, rgba(255, 255, 255, 0.5) 23%, rgba(255, 255, 255, 0) 102.58%) border-box;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__card {
      padding: 12px 12px 24px 12px;
      color: #fff;
      border: 1px solid transparent;
      background: linear-gradient(#100F17 0 0) padding-box,
      linear-gradient(163.02deg, rgba(255, 255, 255, 0.5) 23%, rgba(255, 255, 255, 0) 102.58%) border-box;
      border-image-slice: 1;
      border-radius: 16px;

      h1 {
        text-align: center;
        font-size: 28px;
        padding: 16px;
        background: linear-gradient(163.02deg, rgba(255, 255, 255, 0.5) 23%, rgba(255, 255, 255, 0) 102.58%) border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      p {
        font-weight: 500;
        opacity: 0.9;
      }

      strong {
        font-weight: 800;
      }

      button {
        margin: 20px 0;
      }
    }
  }

  .landing-hashtags {
    color: #fff;
    padding: 65px 0 25px 0;

    h1 {
      margin-right: 20px;
      @media screen and (max-width: 992px) {
        margin-bottom: 20px;
      }
    }

    @media screen and (max-width: 992px) {
      padding: 30px 0 25px 0
    }

    &__title {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    &_tabs {
      max-height: 62px;
      overflow-x: scroll;
      padding: 10px 0;
    }

    &_tab {
      cursor: pointer;
      padding: 10px 20px;
      font-family: "Open Sans", sans-serif;
      border: 1px solid rgba(255, 255, 255, 0.15);
      color: rgba(255, 255, 255, 0.15);
      filter: drop-shadow(0px 0px 12px rgba(30, 80, 254, 0.25));
      border-radius: 64px;
      white-space: nowrap;
      margin: 0 10px;

      //&:hover {
      //  background-color: #1e50fe;
      //  color: #fff;
      //  box-shadow: 0 0 6px #1e50fe;
      //}

      @media screen and (max-width: 992px) {
        margin-right: 10px;
      }
    }

    &__wrapper {
      margin: 80px 0 39px 0;
      padding-top: 40px;
      overflow: hidden;
    }

    &__border {
      background: rgba(255, 255, 255, 0.02);
      border: 3px solid rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
      border-radius: 48px;
      padding: 25px;
    }

    &__list {
      padding: 15px 0;
      background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%);
      border: 3px solid rgba(255, 255, 255, 0.05);
      box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
      border-radius: 48px;

      display: grid;

      grid-template-columns: 1fr 1fr 1fr 1fr;

      &.mailing {
        grid-template-columns:1fr 1fr;

        .landing-hashtags__item.active {
          &:after {
            border-radius: 48px 48px 48px 0;
          }
        }
      }

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr !important;
      }

      strong {
        @media screen and (max-width: 992px) {
          font-size: 16px !important;
        }
        @media screen and (max-width: 540px) {
          font-size: 14px !important;
        }
      }

    }

    &__item {
      padding: 0 37.5px;
      text-align: center;
      position: relative;
      z-index: 100;

      &_border-img {
        padding: 9px;
        background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%);
        border: 2px solid rgba(255, 255, 255, 0.15);
        box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
        border-radius: 12px;
        max-width: 50px;
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
      }

      strong {
        margin-bottom: 12px;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 900;
        font-size: 16px;
        line-height: 160%;
        color: #FFFFFF;
      }

      p {
        font-family: 'Gilroy', sans-serif;
        font-weight: 400;
        line-height: 150%;
      }

      &.active {
        &:after {
          content: '';
          position: absolute;
          bottom: -18px;
          width: 100%;
          height: 130%;
          background: linear-gradient(76.93deg, #6933E4 2.43%, #8456EA 87.16%);
          border: 3px solid rgba(255, 255, 255, 0.05);
          box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
          border-radius: 48px 48px 0 0;
          z-index: -1;;
        }
      }

      @media screen and (max-width: 992px) {
        padding: 0;
        margin-bottom: 30px;
      }
    }

    button {
      margin: auto;
    }
  }

  .landing-phone {
    padding: 70px 0 25px 0;
    text-align: center;
    position: relative;

    @media screen and (max-width: 992px) {
      padding: 30px 0 25px 0;
      img {
        width: 100%;
      }
    }


    &__blur1, &__blur2 {
      position: absolute;
      @media screen and (max-width: 992px) {
        display: none;
      }
    }

    &__blur1 {
      bottom: 45px;
      left: -84px;
      z-index: -100;
    }

    &__blur2 {
      top: 20px;
      right: -67px;
      z-index: -100;
    }

  }

  .landing-help {
    position: relative;
    padding: 96px 0 165px 0;
    z-index: 10000;

    @media screen and (max-width: 992px) {
      padding: 80px 0 80px 0
    }

    &__block {
      font-family: 'Gilroy', sans-serif;
      font-style: normal;
      max-width: 450px;
      margin: auto;
      position: absolute;
      z-index: -1;
      transition: background-color 0.25s ease-in-out;


      @media screen and (max-width: 992px) {
        max-width: 100%;
        max-height: 1000px;
      }

      &_rocket {
        position: absolute;
        top: 30px;
        left: -115px;
        z-index: 100;
        @media (max-width: 992px) {
          top: 0;
          left: -40px;
        }

        @media (max-width: 540px) {
          top: 20px;
          left: -30px;
          width: 150px
        }

        @media (max-width: 390px) {
          display: none;
        }
      }

      &_trophy {
        position: absolute;
        top: 50px;
        right: -70px;
        z-index: 100;
        @media (max-width: 992px) {
          top: 20px;
          right: -20px;
        }

        @media (max-width: 540px) {
          top: 40px;
          right: -10px;
          width: 100px
        }

        @media (max-width: 390px) {
          display: none;
        }
      }

      & > div, & > h3 {
        background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%), linear-gradient(76.93deg, #6933E4 2.43%, #8456EA 87.16%);
        border: 3px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
        border-radius: 24px;
      }

      &:not(.active) {
        cursor: pointer;

        & > h3 {
          z-index: 100;
        }

        & > div, & > h3 {
          overflow: hidden;
          position: relative;
          &:before {
            content: "";
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(16, 15, 23, 0.5);
            position: absolute;
          }

        }

        &:nth-child(1) {
          //transform: rotate(12.48deg);
          top: 300px;
          right: 10px;
          z-index: 1000;
        }

        &:nth-child(2) {
          //transform: rotate(12.48deg);
          top: 150px;
          right: 0;
        }

        &:nth-child(3) {
          top: 150px;
          //transform: rotate(-12.48deg);
        }

        &:nth-child(4) {
          bottom: 50px;
          left: 30px;
          //transform: rotate(-12.48deg);
        }

      }

      &.active {
        position: relative;
        z-index: 100000;
      }

      &.active > div, &.active > h3 {
        background: linear-gradient(76.93deg, #6933E4 2.43%, #8456EA 87.16%);
        border: 3px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
      }

      &_title {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #fff;
        max-width: 80%;
        text-align: center;
        margin: auto;
        padding: 24px 0;
        transform: translateY(50%);
      }

      &_content {
        padding: 70px 22px 20px 22px;
        font-weight: 500;
        font-size: 15px;
        line-height: 150%;
        color: #fff;

        p:first-child {
          margin-bottom: 16px;
        }

        @media (max-width: 390px) {
          padding-top: 40px;
          line-height: 120%;
        }
      }
    }

    &__bg {
      position: absolute;
      z-index: -1;
      background-color: rgba(16, 15, 23, 0.3);
      top: -20%;
      left: -20%;
      bottom: -10%;
      right: -20%;
    }

    &__img {
      position: absolute;
      z-index: -100;

      @media screen and (max-width: 992px) {
        display: none;
      }

    }

    &__img_one {
      left: 66px;
      bottom: 0
    }

    &__img_two {
      left: 50px;
      top: 130px;
      z-index: -200;
    }

    &__img_three {
      right: 60px;
      top: 130px;
    }
  }

  .landing-form {
    padding: 230px 0 112px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0 30px 0
    }

    &__container {
      max-width: 950px;
      margin: auto
    }

    h1 {
      margin-bottom: 71px;
    }

    input {
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 64px;
      width: 290px;
      font-family: "Open Sans", sans-serif;
      margin-right: 24px;
      padding: 10px 30px;
      height: 70px;

      &::placeholder {
        color: #fff;
      }
    }

    button {
      margin-right: 78px;
    }

    &__text {
      position: relative;
      font-family: 'Open Sans', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 147.68%;
      color: #fff;

      @media screen and (max-width: 992px) {
        text-align: center;
        font-size: 16px;
      }
      @media screen and (max-width: 540px) {
        font-size: 14px !important;
      }
    }

    form {
      @media screen and (max-width: 992px) {
        flex-direction: column;

        & > * {
          width: 90% !important;
          margin: 10px 0;
        }
      }
    }

  }

  .landing-video {
    padding: 55px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0
    }

    h1 {
      max-width: 900px;
      margin: auto;
      text-align: center;
    }

    .flex {
      @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
      }
    }

    &__text {
      font-family: 'Open Sans', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 147.68%;
      position: relative;
      color: #fff;
      max-width: 400px;

      @media screen and (max-width: 992px) {
        text-align: center;
        font-size: 16px;
      }
      @media screen and (max-width: 540px) {
        font-size: 14px !important;
      }
    }
  }

  .landing-tariffs {
    padding: 55px 0 100px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0;
    }

    h1 {
      margin-bottom: 100px;
      text-align: center;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 40px;

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    &__item {
      text-align: center;
      position: relative;
      color: #fff;

      @media screen and (max-width: 992px) {
        margin: 40px 0;
      }

      & > div {
        background: linear-gradient(96.79deg, #3059E7 22.14%, #4C6AD6 77.68%), linear-gradient(76.93deg, #6933E4 2.43%, #8456EA 87.16%);
        border: 3px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
        border-radius: 24px;
      }

      &.purple > div {
        background: linear-gradient(76.93deg, #6933E4 2.43%, #8456EA 87.16%);
        border: 3px solid rgba(255, 255, 255, 0.05);
        box-shadow: 0 0 12px rgba(30, 80, 254, 0.25), inset 0 0 22px rgba(255, 255, 255, 0.25);
        border-radius: 24px;
      }

      &_title, &_price {
        width: 100%;
        height: 78px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 992px) {
          height: 50px;
        }
      }

      &_title {
        top: -42px;
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        @media screen and (max-width: 992px) {
          top: -30px;
        }
      }

      &_price {
        bottom: -42px;
        font-family: 'Gunterz', sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 36px;
        @media screen and (max-width: 992px) {
          bottom: -30px;
        }

      }

      &_main {
        margin: auto;
        overflow: hidden;
        height: 100%;
        width: 80%;

        @media screen and (max-width: 992px) {
          padding: 40px 11px 72px 11px;
          height: 300px;
        }

        ul {
          li {
            position: relative;
            font-family: 'Gilroy', sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 157.4%;
            padding: 25px 0 25px 17px;
            text-align: left;
            border-bottom: 1px solid rgba(255, 255, 255, 0.4);

            @media screen and (max-width: 992px) {
              padding: 10px 0 10px 10px;
            }

            &:before {
              content: '';
              position: absolute;
              left: 0;
              display: block;
              width: 4px;
              height: 4px;
              border-radius: 50%;
              background-color: #fff;
              top: 35px;
              @media screen and (max-width: 992px) {
                top: 20px;
              }
            }

            &:first-child {
              padding-top: 0;

              &:before {
                top: 10px;
              }
            }
          }
        }
      }
    }
  }

  .landing-reviews {
    padding: 55px 0 98px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0 40px 0
    }

    position: relative;

    h1 {
      text-align: center;
      margin-bottom: 55px;
    }

    &__item {
      background: rgba(255, 255, 255, 0.05);
      border: 3px solid rgba(255, 255, 255, 0.05);
      border-radius: 12px;
      padding: 15px 15px 50px 15px;
      margin: 0 12px;

      &_title {
        margin-bottom: 33px;

        img {
          margin-right: 12px;
        }

        h3 {
          font-family: 'Gunterz', sans-serif;
          font-weight: 800;
          font-size: 18px;
          line-height: 150%;
          color: #FFFFFF;
          opacity: 0.9;
          text-transform: uppercase;
        }

        span {
          font-family: 'Gilroy', sans-serif;
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &_content {
        font-family: 'Gilroy', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 157.4%;
        color: rgba(255, 255, 255, 0.85);
      }
    }

    &__gradients {
      top: 0;
      left: -24%;
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }
  }

  .landing-speed {
    padding: 55px 0 60px 0;
    @media screen and (max-width: 992px) {
      padding: 30px 0;
    }

    h1 {
      text-align: center;
      margin-bottom: 57px;
      position: relative;

      img {
        position: absolute;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      .landing-speed__smile-face {
        right: 0;
      }

      .landing-speed__rotate-face {
        left: 0;
      }
    }

    &__text {
      position: relative;
      color: #fff;
      max-width: 400px;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 147.68%;
      margin-right: 100px;

      @media screen and (max-width: 992px) {
        margin-right: 0;
        text-align: center;
        font-size: 16px;
      }

      @media screen and (max-width: 540px) {
        font-size: 14px !important;
      }

    }

    &__content {
      max-width: 1000px;
      margin: 0 auto 90px auto;

      @media screen and (max-width: 992px) {
        flex-direction: column-reverse;
      }
    }

    &__timer {
      font-family: 'Gunterz', sans-serif;
      font-style: normal;
      font-weight: 900;
      font-size: 144px;
      line-height: 147.68%;

      &_min {
        color: #fff;
        @media screen and (max-width: 992px) {
          font-size: 80px !important;
        }
      }

      &_sec {
        -webkit-text-stroke: 2px #fff;
        color: #100F17;
        @media screen and (max-width: 992px) {
          font-size: 80px !important;
        }
      }

      &_end {
        color: #fff;
        font-size: 32px;
        @media (max-width: 992px) {
          font-size: 18px !important;
        }
        @media (max-width: 540px) {
          font-size: 16px !important;
        }
        @media (max-width: 430px) {
          font-size: 14px !important;
        }
      }
    }

    button {
      margin: auto;
    }
  }

  .landing-blogs {
    padding: 55px 0 94px 0;

    @media screen and (max-width: 992px) {
      padding: 30px 0;
    }

    position: relative;
    z-index: 1000;

    &__gradients {
      top: 0;
      left: -24%;
      position: absolute;
      width: 100vw;
      height: 100%;
      z-index: -1;
    }

    h1 {
      text-align: center;
      margin-bottom: 37px;
    }

    & > .landing-blogs__row {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 15px;

      @media screen and (max-width: 992px) {
        grid-template-columns: 1fr;
      }

      .landing-blogs__row {
        display: grid;
        grid-template-columns:1fr;
        gap: 15px;

        @media screen and (max-width: 992px) {
          grid-template-columns: repeat(3, 100%);
          grid-template-rows: 1fr;
          overflow-x: scroll;
        }
      }
    }


    &__big-card {
      & > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    &__card {
      padding: 20px;
      background: rgba(255, 255, 255, 0.05);
      border: 2px solid rgba(255, 255, 255, 0.05);
      border-radius: 24px;

      img {
        width: 100%;
        border-radius: 12px;
      }

      &_title {
        font-family: 'Gunterz', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 150%;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 20px;

        span {
          font-family: 'Gilroy', sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 150%;
          color: rgba(255, 255, 255, 0.5);
        }
      }

      &_content {
        margin: 23px 0 12px 0;
        font-family: 'Gilroy', sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 170%;
        color: rgba(255, 255, 255, 0.85);
      }

      &_footer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .landing-footer {
    padding: 54px 0;
    border-top: 2px solid rgba(255, 255, 255, 0.05);

    &__social {
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0 6px;
        width: 32px;
        height: 32px;
        background: linear-gradient(0deg, #1E50FE, #1E50FE), #1E50FE;
        color: #100F17;
        font-size: 20px;
        border-radius: 50%;
        transition: all 0.25s ease-in-out;

        &:hover {
          box-shadow: 0 0 21px rgb(30 80 254);
          color: #fff;
        }
      }
    }
  }
}