.payment {
  width: 100%;

  &-balance {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    margin-bottom: 30px;

    @media (max-width: 730px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .card {
      display: flex;
      justify-content: space-between;
      max-width: 400px;
      width: 100%;
      background: #FFFFFF;
      box-shadow: 0 12px 23px rgba(62, 73, 84, 0.04);
      border-radius: 10px;
      padding: 40px 30px;
      @media (max-width: 1200px) {
        padding: 20px;
      }
      @media (max-width: 992px) {
        max-width: 100%;
      }

      button {
        border-radius: 50%;
        border: 1px solid #EFEFEF;
        width: 80px;
        height: 80px;

        @media (max-width: 1200px) {
          width: 50px;
          height: 50px;

          img {
            width: 25px;
            height: 25px;
            font-size: 30px;
          }
        }

        &:hover {
          background-color: rgba(145, 151, 163, 0.3);
        }
      }

      h2 {
        font-size: 38px;
        font-weight: 600;
        color: #0F0F0F;
        margin-bottom: 12px;
        @media (max-width: 1200px) {
          font-size: 26px;
          margin-bottom: 5px;
        }
      }

      span {
        color: #0F0F0FB2;
        font-size: 16px;
        font-weight: 400;
        @media (max-width: 1200px) {
          font-size: 14px;
        }
      }
    }
  }

  &-refill {
    background: #FFFFFF;
    box-shadow: 0 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 10px;
    padding: 45px 50px 71px 50px;
    margin-bottom: 32px;
    
    @media (max-width: 992px) {
      padding: 20px;
    }

    &-method {
      margin-bottom: 10px;

      @media (max-width: 1200px) {
        label {
          text-align: center;
        }

        input {
          margin: auto;
          display: block;
        }
      }
    }


    .payment-title {
      margin-bottom: 50px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      
      @media (max-width: 1200px) {
        flex-direction: column;
      }
    }

    &-method {
      span {
        font-size: 16px;
        font-weight: 400;
        color: #020614;
      }
      &-cont {
        overflow: hidden;
        width: 100%;
      }
      &-list {
        display: flex;
        margin: 20px 0;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          width: 0;
          height: 30px;
        }

        &::-webkit-scrollbar-thumb {
          width: 1em;
          height: 0;
          border: 12px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
          background-clip: padding-box;
          -webkit-border-radius: 1em;
          background-color: #0066EA;
          -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
        }

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 70px;
          min-height: 40px;
          border: 1px solid #D1D9E0;
          border-radius: 4px;
          margin-right: 12px;
          cursor: pointer;
          transition: background-color .25s ease-in-out;

          &:last-child {
            margin-right: 0;
          }

          &:not(.active):hover {
            background-color: rgba(145, 151, 163, 0.3);
          }

          &.active {
            background-color: #0066EA;
          }
        }
      }

      label {
        span {
          display: block;
          margin-bottom: 10px;
        }
      }
    }

    &-info {
      max-width: 320px;
      font-size: 12px;
      text-align: center;
      margin: auto;

      button {
        width: 100%;
        max-width: 90%;
        padding: 10px 0;
        margin: 36px auto 11px auto;
        background-color: #92D799;
        border-radius: 10px;
        color: #fff;
        border: 1px solid transparent;

        &:hover {
          background-color: transparent;
          color: #000;
          border-color: #92D799;
        }
      }

      a {
        text-decoration: underline;
      }
    }

    .refill-card-Visa {
      img {
        filter: invert(1);
      }

      &.active {
        img {
          filter: invert(0);
        }
      }
    }
  }

  &-rate {
    background: #FFFFFF;
    box-shadow: 0 12px 23px rgba(62, 73, 84, 0.04);
    border-radius: 10px;
    padding: 34px 16px;
    margin-bottom: 64px;

    @media (max-width: 1200px) {
      padding: 20px;
    }

    .payment-title {
      margin-left: 50px;
      margin-bottom: 18px;
    }

    .payment-slider {
      max-width: 100%;
      width: 100%;
      overflow: hidden;

      &-wrapper {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 18px;
        &::-webkit-scrollbar {
          width: 0;
          height: 30px;
        }

        &::-webkit-scrollbar-thumb {
          width: 1em;
          height: 0;
          border: 12px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
          background-clip: padding-box;
          -webkit-border-radius: 1em;
          background-color: #0066EA;
          -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
        }
      }

      &-mb {
        margin-bottom: 10px;
        display: block;
      }

      &-item {
        flex: 0 0 45%;
        padding: 40px 65px;
        border: 1px solid #575757;
        border-radius: 10px;
        text-align: center;
        margin-right: 34px;

        @media (max-width: 1200px) {
          padding: 20px;
        }

        @media (max-width: 650px) {
          flex: 0 0 100%;
        }
        
        span {
          @media (max-width: 992px) {
            font-size: 12px;
          }
        }

        button {
          margin: 40px auto 30px auto;
          max-width: 220px;
          max-height: 45px;
          padding: 12px 0;

          @media (max-width: 1200px) {
            margin: 10px auto 10px auto;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &.active {
          border-color: #0066EA;

          span {
            color: #0066EA;
          }

          button {
            max-width: 100%;
            max-height: 60px;
            height: 60px;
            font-size: 30px;
            font-weight: 700;

            @media (max-width: 1200px) {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  &-history {
    &-cont {
      width: 100%;
      overflow: hidden;
    }

    &-body {
      overflow-x: scroll;
      &::-webkit-scrollbar {
        width: 0;
        height: 30px;
      }

      &::-webkit-scrollbar-thumb {
        width: 1em;
        height: 0;
        border: 12px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
        background-clip: padding-box;
        -webkit-border-radius: 1em;
        background-color: #0066EA;
        -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
      }
    }

    .payment-title {
      margin-bottom: 40px;
      width: 1140px;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 200px;
        max-height: 48px;
        padding: 17px 0;
        font-weight: 500;

        svg {
          margin-right: 16px;
        }

        &:hover img {
          filter: brightness(0.5);
          transform: translateY(-3px);
        }
      }
    }

    .payment-activity {
      width: 1140px;
      background: #FFFFFF;
      box-shadow: 0 12px 23px rgba(62, 73, 84, 0.04);
      border-radius: 10px;
      overflow: hidden;

      &-title {
        display: grid;
        grid-template-columns: 0.3fr 1fr 2fr 1fr 1fr 1fr 0.3fr;
        border-bottom: 1px solid #F4F4F4;
        padding: 23px 30px;

        .payment-cell {
          color: #575757;
          font-size: 14px;
          font-weight: 600;
        }

        .payment-buttons {
          display: flex;
          justify-content: space-between;
        }
      }

      &-transaction {
        display: grid;
        grid-template-columns: 0.3fr 1fr 2fr 1fr 1fr 1fr 0.3fr;
        padding: 23px 30px;
        position: relative;

        .payment-type {
          display: flex;
          align-items: center;
          &-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            border-radius: 50%;

            img {
              width: 20px;
              height: 20px;
            }

          }
          .payment-type-enrolment {
            background-color: #2BC15514;
          }

          .payment-type-withdrawal {
            background-color: #EF9B9B14;
          }
        }

        .payment-status {
          max-width: 150px;
          width: 100%;
          border: 1px solid transparent;
          box-sizing: border-box;
          border-radius: 30px;
          padding: 9px 0;
          text-align: center;
          background-color: transparent;

          &-waiting {
            border-color: #FF9548;
            color: #FF9548;
          }
          &-completed {
            border-color: #83B78E;
            color: #83B78E;
          }
          &-error {
            border-color: #EF9B9B;
            color: #EF9B9B;
          }
          &-canceled {
            border-color: #989898;
            color: #989898;
          }
        }

        .payment-options {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          span,
          &:after,
          &:before {
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: #000;
            border-radius: 50%;
          }

          &:after,
          &:before {
            content: ""
          }

          &:after {
            margin-top: 4px;
          }
          &:before {
            margin-bottom: 4px;
          }
        }

        &:before {
          content: "";
          height: 0;
          width: 3px;
          position: absolute;
          left: 0;
          background-color: transparent;
          transition: all .2s ease-in-out;
        }

        &.checked {
          &:before{
            background-color: #0066EA;
            height: 100%;
          }
        }
      }

      .payment-cell {
        display: flex;
        align-items: center;

        input[type="checkbox"] {
          max-width: 24px;
          max-height: 24px;
          cursor: pointer;
        }
      }

    }

    input[type="checkbox"] {
      appearance: none;
      max-height: 20px;
      border-radius: 5px;
      border: 2px solid #bebebe;
      background-color: transparent;
      transition: border .2s ease-in-out;

      &:checked {
        border-color: #0066EA;
        background-image: url("../../image/checkbox/line.svg");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  &-title {
    color: #020614;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
}