.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(36, 36, 36, 0.1);
  justify-content: center;
  align-items: center;
  z-index: 10000;
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__body {
    min-width: 700px;
    display: inline-block;
    padding: 20px 25px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0 4px 16px rgba(36, 36, 36, 0.05);
    transform: translateY(-200px);
    transition: all 0.25s ease-in-out;
    overflow: hidden;

    &_close {
      max-width: 36px;
      font-size: 36px;
      color: #090909;
      border: 1px solid transparent;

      &:hover {
        color: #0a66b7;
        border-color: transparent !important;
      }
    }

    &-process {
      max-width: 700px;
      height: 310px;
    }

    &_main {
      &-cont {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        @media (max-width: 992px) {
          grid-template-columns: 1fr 1fr 1fr;
          max-height: 500px;
          overflow-y: scroll;
        }
        @media (max-width: 564px) {
          grid-template-columns: 1fr 1fr;
          max-height: 400px;
          overflow-y: scroll;
        }
      }

      &-btn {
        margin-top: 25px;
        justify-content: flex-start;
        margin-bottom: 20px;

        button {
          width: 100%;

          &:first-child {
            max-width: 180px;
            margin: 0 12px 0 0;
          }

          &:last-child {
            max-width: 100px;
            margin: 0;
          }
        }
      }

      &-slider {
        max-width: 170px;
        margin: 25px auto 0 auto;
      }

      &-tab {
        margin-top: 23px;

        & > div {
          border: 1px solid #0a66b7;
          margin-bottom: 12px;
          padding: 15px 10px;
          display: flex;
          align-items: center;
          border-radius: 12px;

          div:first-child {
            font-size: 12px;
            color: #0a66b7;
            margin-right: 10px;
          }

          div:last-child {
            font-weight: 500;
            font-size: 16px;
            line-height: 150%;
            color: #090909;
            display: flex;
            flex-direction: column;

            a {
              color: #0a66b7;
            }
          }

        }

        .modal__body_check {
          font-size: 24px !important;
        }
      }
    }

    &.open {
      opacity: 1;
      transform: translateY(0);
    }

    @media (max-width: 992px) {
      min-width: auto;
      width: 90%;
      height: 90%;
      padding: 10px;
    }
  }

  &_top {
    .title {
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      color: #090909;

      @media (max-width: 992px) {
        font-size: 20px;
      }
    }
  }

  &-slide-item {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-position: center center;
    background-size: 150%;
    margin: auto;
    overflow: hidden;
    text-align: center;
  }

  &__pane {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 16px rgba(36, 36, 36, 0.05);
    border-radius: 12px;
    padding: 20px 10px;
    min-height: 135px;

    h1 {
      font-weight: 600;
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 10px;
      @media (max-width: 992px) {
        font-size: 18px;
      }
    }

    span {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      color: rgba(9, 9, 9, 0.5);
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }
}

.hello-modal {
  max-width: 700px;
  position: relative;
  z-index: 10000;
  @media (max-width: 992px) {
    min-width: auto;
    width: 99%;
    height: 99%;
  }

  .modal__body_top {
    .title {
      margin-bottom: 12px;
    }

    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #919191;
    }
  }
}

.modal-hashtags {
  max-width: 773px;
  max-height: 613px;
  overflow: hidden;

  .slider-post {
    margin-right: 20px;
  }

  .modal__body_main {
    margin-top: 20px;

    &-flex {
      @media (max-width: 992px){
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        max-height: 60vh;
      }
      @media (max-width: 400px){
        max-height: 55vh;
      }
      .slider-post {
        @media (max-width: 992px) {
          margin-right: 0;
        }
      }
    }

    h2.title {
      font-weight: 400;
      font-size: 28px;
      line-height: 32px;

      @media (max-width: 992px){
        margin-top: 10px;
      }

      @media (max-width: 400px){
        font-size: 18px;
        line-height: 24px;
      }
    }
  }

  &_your-hashtag {
    display: inline-block;
    padding: 7px 13px;
    margin: 11px 0;
    color: #090909;
    border: 1px solid #1D69CB;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.24px;

    strong {
      color: #1D69CB;
    }

  }

  &_top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 12px;

    @media (max-width: 420px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &_item {
    padding: 10px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    &:hover {
      color: #0066EA;
      border-color: #0066EA;
    }

    &.active {
      background-color: #0066EA;
      color: #fff;
    }
  }

}