
.sidebar {
  flex: 0 0 215px;
  padding: 30px 0;
  background-color: #fff;
  flex-grow: 1;
  position: sticky;
  top: 0;
  border-radius: 24px;

  .block {
    text-align: center;
  }

  nav {
    a {
      display: flex;
      align-items: center;
      padding: 7px 0 11px 16px;
      cursor: pointer;
      transition: all 0.25s ease-out;
      margin-bottom: 7px;
      border-radius: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-right: 14px;
      }

      &.active {
        background: linear-gradient(265.76deg, #0066EA 14.94%, #1D69CB 92.19%);;
        color: white;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .logo {
    margin-bottom: 51px;

    &__title {
      font-size: 14px;
      font-weight: 500;
      color: #150C2F;
      margin-bottom: 4px;
    }
    &__subtitle {
      font-size: 12px;
      color: rgba(21, 12, 47, 0.71);
    }
  }

  &-cont {
    padding: 20px 41px;
    border-bottom: 1px solid rgba(36, 36, 36, 0.05);
    &:last-child {
      border-bottom: none;
    }
  }
}