.faq {
  background: #FFFFFF;
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 40px 44px 50px 44px;
  width: 100%;

  &-container {
    display: grid;
    gap: 40px;
    position: relative;
  }

  &-item {
    padding: 0 40px;
    border: 1px solid rgba(179, 179, 179, 0.5);
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;


    &-title {
      display: flex;
      justify-content: space-between;
      padding: 38px 0;

      h4 {
        font-size: 16px;
        font-weight: 400;
        transition: color .25s ease-in-out;
      }
    }

    &-control {
      display: block;
      width: 16px;
      height: 16px;
      position: relative;

      &:after,
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        background-color: #000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .25s ease-in-out;
      }

      &:before {
        height: 100%;
        width: 2px;
      }

      &:after {
        width: 100%;
        height: 2px;

      }
    }

    &-content {
      overflow: hidden;
      transition: max-height .25s, padding .25s;
      max-height: 0;
    }

    &.active {
      .faq-item-title {
        h4 {
          color: #6b32e3;
        }
      }

      .faq-item-control {
        &:before {
          height: 0;
        }

        &:after {
          background-color: #6b32e3;
        }
      }

      .faq-item-content {
        max-height: 600px;
        overflow: hidden;
        padding-bottom: 50px;
      }
    }
  }

  &-pages {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 32px);
    gap: 11px;
    justify-content: center;

    li {
      display: grid;
      height: 36px;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      place-items: center;
      cursor: pointer;
      transition: background-color .25s ease-in-out;

      &:not(.active):hover {
        background-color: rgba(0, 0, 0, 0.26);
      }

      &.active {
        border-color: transparent;
        background-color: #6b32e3;
        color: #fff;
      }
    }
  }
}