
.sidebar {
  flex: 0 0 210px;
  padding: 27px 27px 0 27px;
  background-color: #fff;
  flex-grow: 1;
  position: sticky;
  top: 0;
  max-height: 100vh;

  .block {
    text-align: center;
  }

  nav {
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      display: flex;
      align-items: center;
      padding: 7px 0 11px 16px;
      cursor: pointer;
      transition: all 0.25s ease-out;
      margin-bottom: 7px;
      border-radius: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        margin-right: 14px;
      }

      &.active {
        background-color: #6F3DDB;
        color: white;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .logo {
    margin-bottom: 51px;

    &__title {
      font-size: 14px;
      font-weight: 500;
      color: #150C2F;
      margin-bottom: 4px;
    }
    &__subtitle {
      font-size: 12px;
      color: rgba(21, 12, 47, 0.71);
    }
  }

}