@import "normalize-scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$gray: #919191;
$black: #020614;
$white: #fff;
$red: #dc3545;
$purple: #6F3DDB;
$green: #92D799;
$blue: #0066EA;
$blue-gradient: linear-gradient(265.76deg, #0066EA 14.94%, #1D69CB 92.19%);
$gray-opacity: rgba(145, 145, 145, 0.5);
$black-opacity: #09090980;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
<<<<<<< HEAD
    src: url("./Assets/fonts/gilroy-regular.ttf") format('ttf');
=======
    src: local("Gilroy"),
    url("fonts/Gilroy/gilroy-regular.ttf") format('ttf');
>>>>>>> landing
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
<<<<<<< HEAD
    src: url("./Assets/fonts/gilroy-medium.ttf") format('ttf');
=======
    src: local("Gilroy"),
    url("fonts/Gilroy/gilroy-medium.ttf") format('ttf');
>>>>>>> landing
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
<<<<<<< HEAD
    src: url("./Assets/fonts/gilroy-semibold.ttf") format('ttf');
=======
    src: local("Gilroy"),
    url("fonts/Gilroy/gilroy-semibold.ttf") format('ttf');
>>>>>>> landing
    font-display: swap;
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
<<<<<<< HEAD
    src: url("./Assets/fonts/gilroy-bold.ttf") format('ttf');
=======
    src: local("Gilroy"),
    url("fonts/Gilroy/gilroy-bold.ttf") format('ttf');
>>>>>>> landing
    font-display: swap;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 0;
  }

  ::-webkit-scrollbar-thumb {
    height: 1em;
    border: 3px solid rgba(0, 0, 0, 0); /* Transparent border together with `background-clip: padding-box` does the trick */
    background-clip: padding-box;
    -webkit-border-radius: 1em;
    background-color: #0066EA;
    -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.025);
  }

  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

body {
  background-color: #F7F9FD;
  color: $gray;
  margin: 0;
  font-family: "Gilroy", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  width: 100vw;
  min-height: 100vh;

  @media (max-width: 992px) {
    padding: 10px;
  }
}

.App {
  display: flex;
  min-height: 100vh;
  max-width: 1500px;
  margin: auto;
  @media (max-width: 1400px) {
    max-width: 1300px;
  }
  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 42px auto;
  gap: 30px;
  position: relative;
  min-height: 93vh;

  @media (max-width: 992px) {
    gap: 10px;
  }

  @media (max-width: 400px) {
    grid-template-rows: auto auto;
  }
}

.logo-image {
  max-width: 70px;
  max-height: 70px;
}

a {
  text-decoration: none;
  color: $gray;
}

.content {
  width: 100%;
  padding: 35px 75px 0 70px;
  @media (max-width: 1300px) {
    padding: 10px 0 0 20px;
  }
  @media (max-width: 992px) {
    padding: 0;
  }
}

ul {
  list-style: none;
}

h5 {
  color: $black;
  font-size: 18px;
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
  transition: all .25s ease-out;
  display: block;
  box-shadow: none;
  padding: 7px 0;
  color: #fff;
  border-radius: 10px;
  border: 1px solid transparent;
  width: 100%;

  &.purple-btn {
    background-color: $purple;

    &:hover {
      background-color: transparent;
      color: $purple;
      border-color: $purple;
    }

    &:focus {
      box-shadow: 0 0 0 2px $purple;
    }
  }

  &.red-btn {
    background-color: $red;
    color: $white;
    width: 100%;
    max-width: 80%;
    margin: auto;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all .25s linear;
    border-radius: 18px;
    padding: 7px 0;
    font-weight: 700;

    &:hover {
      background-color: transparent;
      color: $red;
      border-color: $red;
    }

    &:focus {
      box-shadow: 0 0 0 2px $red;
    }
  }

  &.green-btn {
    background-color: $green;

    &:hover {
      background-color: transparent;
      color: $green;
      border-color: $green;
    }

    &:focus {
      box-shadow: 0 0 0 2px $green;
    }

  }

  &.blue-btn {
    background: $blue-gradient;
    color: $white;
    height: 40px;

    &:hover {
      border: 1px solid $blue;
      color: $blue;
      background: transparent;
    }

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0 0.25rem rgba(0, 122, 234, 0.25);
    }
  }

  &.blue-btn_invert {
    border: 1px solid $blue;
    color: $blue;
    height: 40px;

    &:hover {
      background: $blue-gradient;
      color: $white;
      border-color: transparent;
    }

    &:focus {
      border-color: $blue;
      box-shadow: 0 0 0 0.25rem rgba(0, 122, 234, 0.25);
    }
  }

  &.gray-btn {
    background-color: $gray-opacity;
    color: $white;
    height: 40px;

    &:hover {
      border: 1px solid $gray-opacity;
      color: $gray-opacity;
      background-color: transparent;
    }

    &:focus {
      border-color: $gray-opacity;
      box-shadow: 0 0 0 0.25rem rgba(145, 145, 234, 0.25);
    }
  }

  &.black-opacity {
    border: 1px solid $black-opacity;
    color: $black-opacity;
    height: 40px;
    transition: all 0.2s linear;

    &:hover {
      border-color: transparent;
      color: #fff;
      background-color: $black-opacity;
    }

    &:focus {
      border-color: $black-opacity;
      box-shadow: 0 0 0 0.25rem rgba(9, 9, 9, 0.50);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: pointer;
    pointer-events: none;
  }
}

.black-opacity_text {
  color: $black-opacity;
}

.w-100 {
  width: 100% !important;
  max-width: 100% !important;
}

.h-100 {
  height: 100% !important;
  max-height: 100% !important;
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 33px;
  color: #090909;

  @media (max-width: 992px) {
    font-size: 20px;
  }
}

.gray-text {
  color: #919191;
  line-height: 24px;
}

.border-bottom {
  border-bottom: 1px solid rgba(36, 36, 36, 0.05);
  padding-bottom: 27px;
}
.border-gray {
  border: 1px solid rgba(24, 24, 24, 0.25);
}

.rounded-12 {
  border-radius: 12px;
}
.mt-25 {
  margin-top: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pb-25 {
  padding-bottom: 25px;
}

.align-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.all-btn-strong {
  button {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
  }
}

.block.left {
  max-width: 75%;
  width: 100%;
  background-color: #fff;
  padding: 32px 45px 83px;
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  &-transparent {
    margin-right: 47px;
    max-width: 75%;
    width: 100%;

    .block.left {
      max-width: 100%;
      width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.gap-10 {
  gap: 10px;
}

.text-center {
  text-align: center;
}

.block-title {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 13px;
}

.big-input {
  textarea {
    height: 100%;
    line-height: 9px;
  }
}

.textarea-label {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;

  textarea {
    margin-top: 10px;
    border-radius: 10px;
    padding: 11px 26px;
    resize: none;
    width: 100%;
    border: none;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    outline: none;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
  }
}

.red {
  color: $red;
}

input[type="text"],
textarea {
  text-align: left !important;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgba(9, 9, 9, 0.15);
  transition: all 0.2s ease-in-out;
  border-radius: 12px;

  &:focus {
    border-color: $blue;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(0, 122, 234, 0.25);
  }
}

.new-slider-btn {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 32px !important;
  height: 32px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(9, 9, 9, 0.5) !important;
  font-size: 20px !important;
  color: rgba(9, 9, 9, 0.5) !important;
  transition: all 0.2s linear;

  &.slick-disabled {
    border-color: transparent !important;
    color: #fff !important;
    background-color: $black-opacity !important;
  }

  &.slick-prev {
    left: -60px !important;
  }

  &.slick-next {
    right: -60px !important;
  }

  &:hover {
    border-color: transparent !important;
    color: #fff !important;
    background-color: $black-opacity !important;
  }

  &:before {
    display: none;
  }
}

.error-message {
  color: $red;
  font-weight: 700;
  font-size: 16px;
}

.success-message {
  color: $blue;
  font-weight: 700;
  font-size: 16px;
}

.logo {
  text-align: center;

  &__title {
    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 400px) {
      display: block;
    }
  }
  .facebook__account {
    text-align: center;

    @media (max-width: 400px) {
      margin-top: 10px;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;

      @media (max-width: 992px) {
        margin: 0 5px;
        width: 42px;
        height: 42px;
      }
    }

    .blue-btn {
      width: 100px;
      padding: 10px 0;
      margin: 10px auto;
      @media (max-width: 992px) {
        width: 42px;
        height: 42px;
        margin: 0 5px;
      }
    }
  }
}