html {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  @font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 400;
    src: local("Gilroy"),
    url("./Assets/fonts/Gilroy/gilroy-regular.ttf") format('ttf');
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src: local("Gilroy"),
    url("./Assets/fonts/Gilroy/gilroy-medium.ttf") format('ttf');
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: local("Gilroy"),
    url("./Assets/fonts/Gilroy/gilroy-semibold.ttf") format('ttf');
  }
  @font-face {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    src: local("Gilroy"),
    url("./Assets/fonts/Gilroy/gilroy-bold.ttf") format('ttf');
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
