.instruction {
  @media (max-width: 992px) {
    margin-top: 50px;
  }
  &-title {
    h6 {
      font-size: 16px;
      font-weight: 700;
      color: #0066EA;
      @media (max-width: 992px) {
        font-size: 14px;
      }
    }
    span {
      font-size: 14px;
      font-weight: 400;
      @media (max-width: 992px) {
        font-size: 12px;
      }
    }
  }

  &-video {
    padding: 140px 72px;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #B2B2B280;
    margin-top: 40px;
    z-index: 100;

    @media (max-width: 1200px) {
      padding: 70px 40px;
    }
    @media (max-width: 1050px) {
      padding: 70px 20px;

    }
    @media (max-width: 992px) {
      padding: 0;
    }

    video {
      @media (max-width: 1200px) {
        width: 100%;
        border-radius: 10px;
      }

    }

    &-buttons {
      position: absolute;
      display: grid;
      z-index: 1000;
      bottom: -56px;
      grid-template-columns: repeat(3, 32px);
      gap: 11px;

      li {
        display: grid;
        height: 36px;
        border: 1px solid #D9D9D9;
        border-radius: 4px;
        place-items: center;
        cursor: pointer;
        transition: background-color .25s ease-in-out;

        &:not(.active):hover {
          background-color: rgba(0, 0, 0, 0.26);
        }

        &.active {
          border-color: transparent;
          background-color: #0066EA;
          color: #fff;
        }
      }
    }
  }
}