@import "normalize-scss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$gray: #666;
$black: #020614;
$white: #fff;
$red: #EF9B9B;
$purple: #6F3DDB;
$green: #92D799;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F7F9FD;
  color: $gray;
}

.App {
  display: flex;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 42px auto;
  gap: 30px;
  position: relative;
  min-height: 93vh;
}

.logo-image {
  max-width: 70px;
  max-height: 70px;
}

a {
  text-decoration: none;
  color: $gray;
}

.content {
  width: 100%;
  padding: 35px 75px 0 70px;
}

ul {
  list-style: none;
}

h5 {
  color: $black;
  font-size: 18px;
}

button,
input[type="submit"] {
  background: none;
  cursor: pointer;
  transition: all .25s ease-out;
  display: block;
  box-shadow: none;
  padding: 7px 0;
  color: #fff;
  border-radius: 10px;
  border: 1px solid transparent;
  max-height: 35px;
  max-width: 180px;
  width: 100%;

  &.purple-btn {
    background-color: $purple;

    &:hover {
      background-color: transparent;
      color: $purple;
      border-color: $purple;
    }

    &:focus {
      box-shadow: 0 0 0 2px $purple;
    }
  }
  &.red-btn {
    background-color: $red;
    color: $white;
    width: 100%;
    max-width: 80%;
    margin: auto;
    font-size: 18px;
    border: 1px solid transparent;
    transition: all .25s linear;
    border-radius: 18px;
    padding: 7px 0;
    font-weight: 700;

    &:hover {
      background-color: transparent;
      color: $red;
      border-color: $red;
    }

    &:focus {
      box-shadow: 0 0 0 2px $red;
    }
  }
  &.green-btn {
    background-color: $green;

    &:hover {
      background-color: transparent;
      color: $green;
      border-color: $green;
    }

    &:focus {
      box-shadow: 0 0 0 2px $green;
    }

  }
}

.block.left {
  max-width: 75%;
  width: 100%;
  background-color: #fff;
  padding: 32px 45px 83px;
  box-shadow: 0 12px 23px rgba(0, 0, 0, 0.04);
  border-radius: 10px;

  &-transparent {
    margin-right: 47px;
    max-width: 75%;
    width: 100%;

    .block.left {
      max-width: 100%;
      width: 100%;
    }
  }
}

.flex {
  display: flex;
}

.block-title {
  color: $black;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 13px;
}

.big-input {
  textarea {
    height: 100%;
    line-height: 9px;
  }
}

.textarea-label {
  display: flex;
  flex-direction: column;
  flex: 0 0 70%;

  textarea {
    margin-top: 10px;
    border-radius: 10px;
    padding: 11px 26px;
    resize: none;
    width: 100%;
    border: none;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    outline: none;
    color: rgba(102, 102, 102, 1);
    font-size: 14px;
  }
}


.red {
  color: $red;
}