.auth-wrapper {
  max-width: 100vw;
  padding: 0;
}

.auth {
  display: grid;
  grid-template-columns: 1fr 1.15fr;
  width: 100vw;

  &__left {
    padding: 64px 82px 84px 82px;
    position: relative;
    overflow: hidden;

    .auth__hero {
      position: relative;
      width: 100%;
      height: 500px;
      top: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        position: absolute;
        &:last-child {
          top: 150px;
          left: 20px;
        }
      }
    }
  }

  &__right {
    padding: 64px 0 84px 0;
    &_cont {
      max-width: 428px;
      margin: auto;
    }
  }

  &__title {
    padding-bottom: 21px;
    margin-bottom: 24px;
    font-family: 'Gunterz', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #fff;
    border-bottom: 1px solid rgba(245, 245, 245, 1);

    span {
      color: #8692A6;
      font-family: 'Inter', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
    }
  }

  &-form, &-label {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
  }

  &-form {
    padding-bottom: 25px;
    border-bottom: 1px solid #fff;
  }

  &-label {
    margin-bottom: 24px;

    span {
      font-size: 16px;
      line-height: 19px;
      color: #696F79;
      margin-bottom: 14px;
    }

    input {
      padding: 22px 30px;
      border: 1px solid #8692A6;
      border-radius: 103px;
      margin-bottom: 10px;

      &:focus {
        background-color: #fff;
      }
    }
  }

  &-label_checkbox {
    margin-bottom: 24px;
    input {
      margin-right: 10px;
    }
  }


  &-btn {
    border-radius: 110px;
    padding: 22px 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    &_submit {
      background: #1565D8;

      &:hover {
        box-shadow: 0 0 21px rgb(30 80 254);
      }
    }

    &_2auth {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      color: #000;
      position: relative;
      margin: 15px 0;

      img {
        position: absolute;
        left: 40px;
      }
    }
  }

}