.interlocutors {
  background-color: #fff;
  max-height: 600px;
  height: 100%;
  overflow-y: auto;
  &-main-container {
    display: flex;

    img {
      margin-right: 10px;
    }
  }
  &-person {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .25s linear;

    &.active {
      background-color: #6b32e3;
      border-radius: 10px;
      p {
        color: #fff;
      }

      span {
        color: #fff;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-name {
    color: #000;
    font-weight: 600;
    font-size: 16px;
  }

  &-last-message {
    color: #666;
    font-weight: 400;
    font-size: 14px;
  }

  &-wasOnline {
    color: #666;
    font-weight: 400;
    font-size: 8px;
  }

  &-person {
    padding: 7px 16px 10px 16px;
  }
}

